.about-container {
  font-family: "Montserrat", sans-serif;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding-top: 30px;
}
#about {
  padding-top: 100px;
}
.about-span {
  color: white;
  font-size: 24px;
}
.animate-left,
.animate-right {
  opacity: 0;
  transition: all 0.9s ease;
}

.animate-left {
  transform: translateX(-200px);
}

.animate-right {
  transform: translateX(200px);
}

.animate .animate-left,
.animate .animate-right {
  opacity: 1;
  transform: translateX(0);
}

.about-title {
  font-size: 20px;
  color: #ffffff;
}
.unvan {
  font-size: 18px;
  color: #c4c3c3;
}
.about-content {
  font-size: 15px;
  color: #afacac;
}
.lottie-gif {
  width: 400px;
  height: 400px;
}
.content-wrapper {
  display: flex;
  padding: 10px;
  flex-direction: column;
  text-align: left;
}
@media (max-width: 710px) {
  .lottie-gif {
    width: 310px;
  }
}
@media (max-width: 650px) {
  .lottie-gif {
    width: 270px;
  }
  .about-title {
    font-size: 14px;
  }
  .unvan {
    font-size: 11px;
  }
  .about-content {
    font-size: 13px;
  }
  .about-container {
    gap: 0;
  }
}
@media (max-width: 520px) {
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .content-wrapper {
    text-align: center;
  }
}
